/*Deepthi Konatham- Student Number #9058409/
Assignment 2 - Styling Kerala City page with CSS styles*/

/*Root Element Setting 
It sets the base font for the entire Document*/

html {

    font: italic small-caps bold 20px/1.5 Arial, sans-serif;
    background-color: #f0f8ff;
    /*Light background colour for the page and it makes easy readability*/

}

/*Body Styling*/
/* content max width has chosen here*/


body {
    max-width: 1200px;
    /*It makes max width of the body*/
    margin: 0 auto;
    padding: 2rem;
    border: 1rem solid #ccc;
    background-color: #ffffff;


}

/*page layout using floats*/

main {
    float: left;
    width: 70%;
    padding: 1rem;
}

/*side of the page floats*/

aside {
    float: right;
    width: 30%;
    padding: 1rem;

}

/*footer of the page */

footer {
    clear: both;
    font-size: 0.8rem;
    background: linear-gradient(to right, #006400, #32cd32);
    color: white;
    text-align: center;
    padding: 1rem;
}

/*styling for Header*/

header {
    font-size: 2rem;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    text-align: center;
    padding: 1rem;

}